body {
    font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
h1 {
    opacity: 0.5;
    font-size: 1em;
    font-weight: bold;
}
h2 {
    font-size: 1em;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

#buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

input {
    padding: 16px 32px;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    margin: 4px 2px;
}
#StartMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
#selection {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.button5{
    display:inline-block;
    width: 100%;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
}

#back{
    display: none;
}
#giveUp{
    display: none;
}

#nextLevel{
    display: none;
}
.button5:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    border-color:#00ff00;
}

.button1{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid;
    border-radius:2em;
    border-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-decoration: none;
    font-family:'Roboto',sans-serif;
    text-align:center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 1%;
    text-align: left;
    z-index: 2;
}
#overlay{
    text-align:left;
    font-size: 50px;
    font-weight: bold;
    color: #FA8072;
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
@media all and (max-width:30em){
    .button5{
        display:block;
        margin:0.4em auto;
    }
}